$desktop: 768px;

/*
rosewater:  #F5E0DC -> rosewater: #f5e0dc
flamingo:   #F2CDCD -> flamingo:  #f2cdcd
mauve:      #DDB6F2 -> mauve:     #cba6f7
pink:       #F5C2E7 -> pink:      #f5c2e7
maroon:     #E8A2AF -> maroon:    #eba0ac
red:        #F28FAD -> red:       #f38ba8
peach:      #F8BD96 -> peach:     #fab387
yellow:     #FAE3B0 -> yellow:    #f9e2af
green:      #ABE9B3 -> green:     #a6e3a1
teal:       #B5E8E0 -> teal:      #94e2d5
blue:       #96CDFB -> blue:      #87b0f9
sky:        #89DCEB -> sky:       #89dceb
                    -> sapphire:  #74c7ec
lavender:   #C9CBFF -> lavender:  #b4befe
black0:     #131020 -> crust:     #11111b
black1:     #1A1823 -> mantle:    #181825
black2:     #1E1D2F -> base:      #1e1e2e
black3:     #302D41 -> surface0:  #313244
black4:     #575268 -> surface1:  #43465a
gray0:      #6E6C7E -> surface2:  #565970
gray1:      #988BA2 -> overlay0:  #696d86
gray2:      #C3BAC6 -> overlay1:  #7b819d
                       overlay2:  #8e95b3
white:      #D9E0EE -> text:      #c6d0f5
                    -> subtext0:  #a1a8c9
                    -> subtext1:  #b3bcdf

*/